html {
    background-color: #f2f2f2;
    font-size: 16px;
    padding: 0;
    margin: 0;
}

h3{
    margin: 0;
}

a{
    color: inherit;
    text-decoration: underline;
}

:root{
    --left-side-width: 35%
}

body{
    margin: 0;
}

.container{
    display: flex;
}

.left-side{
    width: var(--left-side-width);
    height: 100vh;
    background-image: url("../img/halie-west-25xggax4bSA-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.right-side{
    width: calc(100% - var(--left-side-width));
    height: 100vh;
}

.odin-logo{
    background-color: rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2.5px 0px;
    margin-top: 40%;

}

.odin-pic{
    height: 10rem;
}

.odin-text{
    font-family: norse-bold;
    font-size: 10rem;
    display: flex;
}

.img-credit{
    position: fixed;
    width: var(--left-side-width);
    bottom: 2px;
}

p{
    color: white;
    text-align: center;
    padding: 0;
    margin: 0;
    
}

p.right{
    color: black;
    font-weight: bold;
    font-size: 1.2rem;
    max-width: 28em;
    text-align: left;
    padding-left: 50px;
    padding-bottom: 50px;
}

.credit{
    font-size: 1rem;
}

.right-side-top{
    height: 30%;
    display: flex;
    align-items: flex-end;
}

.right-side-middle{
    background-color: white;
    height: 40%;
    padding-left: 50px;
    padding-top: 50px
}

.right-side-bottom{
    height: 30%;
    padding-left: 50px;
}

.button{
    padding-top: 50px;
}
.create-button{
    background-color: #596D48;
    color: white;
    padding: 15px 50px;
    border-radius: 15px;
    font-size: 1rem;
}

p.login{
    font-weight: normal;
    padding-left: 0;
    padding-top: 25px;
}

span{
    color: #596D48;
}

.form-row{
    font-size: .8rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top: 15px;
}

input{
    outline: none;
    border: solid lightgray 1px;
    padding: 10px;
    width: 250px;
}

input:focus{
    outline: none;
    border: none;
    border: solid lightblue 1px;
}


.entire-form{
    display: flex;
    gap: 50px;
    height: 15vh;
    align-items: center;
    padding-top: 15px;
    /* width: calc((100% - var(--left-side-width)) / 1); */
}

.form-left-side{
}

.form-right-side{
}


@font-face {
    font-family: norse-bold;
    src: url("../fonts/Norse-Bold.otf");
}